@media (min-width: 37.5em) {
    h1 {
        font-size: 2.5rem;
        margin-left: 0;
        text-align: center;
    }
    
    .rubik-specail font {
        font-family: "Rubik", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    nav {
        margin-left: auto;
    }

    section {
        border: 1px solid #ccc;
        padding: 1rem;
        border-radius: 8px;
        background: #f9f9f9;
        margin-bottom: 200px;
    }

    main {
    
    margin: 0 auto;
    background-color: white
    }

    img {
        border-radius: 6px;
        margin-top: 0.5rem;
    }

    .imgcopywrite {
        padding: 10px;
    }

    #menu {
        display: none;
    }

    #after{
        display: none;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    .title{
    font-size: 30px;
    font-weight: 600;
    }

    header span {
        font-weight: 550;
        font-size: 30px
    }
}
