@media (min-width: 37.5em) {
    h1 {
        font-size: 2.5rem;
        margin-left: 0;
        text-align: center;
    }
    nav {
        margin-left: auto;
    }

    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }


    header span {
        font-weight: 550;
        font-size: 30px
    }
}