body {
    font-family: "Roboto", sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 2px solid gray;
    padding: 5px;
    background-color: lightblue;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 15px;
    background-color: aliceblue;
}
